:root {
    --background-color: linear-gradient(120deg, #1c1c1c, #2e2e2e);
    --off-white: #fbf8f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #1c1c1c, #2e2e2e);
    color: var(--off-white);
}

a {
    text-decoration: none;
}

/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: #2c2c2c;
    border-radius: 0 25px 25px 0;
    padding: 20px 0;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  }

  .logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 60px;
    height: auto;
    border-radius: 50%;
  }

  .nav-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.nav-icon {
  width: 50px;
  height: 50px;
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  color: #888;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-icon.active {
  background: #fff;
  transform: scale(1.1);
  color: #1f1f1f;
}

.nav-icon:hover {
  background: #fff;
  transform: scale(1.1);
  color: #1f1f1f;  
}


  .nav-icon.active {
    background: #fff;
    transform: scale(1.1);
    color: #1f1f1f;
  }

  .bottom-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bottom-icons .nav-icon:hover {
    background: #fff;
    transform: scale(1.1);
    color: #1f1f1f;  
  }
  
  .nav-icon.active {
    background: #fff;
    transform: scale(1.1);
    color: #1f1f1f;
  }
  
/* CONTENT */
.content {
  margin-left: 80px;
  padding: 20px;
}

.section {
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
}

.section.active {
  opacity: 1;
}

/* HERO SECTION */
.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.hero h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold; 
}

.hero p {
    font-size: 1.8rem;
    color: #ddd;
    margin-top: 0;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}